
  <!-- Remplacement du SVG par une balise img -->
  <figure>
    <img src="https://github.com/Abdouul/me/blob/main/src/assets/cropped-01.JPG" alt="photo" class="border-2 border-white rounded-lg" />
  </figure>
</section>
