section>
  <!-- Remplacement du SVG par une balise img -->
  <figure>
    <img src="chemin_vers_ta_photo.jpg" alt="Ta photo" class="border-2 border-white rounded-lg" />
    <figcaption class="mt-2 text-sm italic">
      Photo de <strong>Abdelouahed</strong>
    </figcaption>
  </figure>
</section>
