
  <!-- Remplacement du SVG par une balise img -->
  <figure>
    <img src="<figure>
  <img src="https://raw.githubusercontent.com/Abdouul/me/main/src/assets/cropped-01.JPG" alt="photo" class="border-2 border-white rounded-lg" />
</figure>
" alt="photo" class="border-2 border-white rounded-lg" />
  </figure>
</section>
