section>
  <!-- Remplacement du SVG par une balise img -->
  <figure>
    <img src="C:\Users\pc\Downloads\cropped-01.jpg" alt="Ta photo" class="border-2 border-white rounded-lg" />
  </figure>
</section>
